<%= form_for @itinerary do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.label :place_ids, 'Places' %>
  <%= f.collection_check_boxes :place_ids, Place.all, :id, :name %>   

  <div class="form-group">
    <%= f.submit %> 
  </div>          
<% end %>