<div class="container">
  <div class="form-custom">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
        </div>

        <div class="form-group">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
        </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary" %>    
      </div>    

      <div class="form-group">
        <%= render "devise/shared/links" %>            
      </div>

    <% end %>


  <!-- Alerts -->
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only"><p class="notice"><%= notice %></p></span>
            </button>

            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only"><p class="alert"><%= alert %></p></span>
            </button>             
  <!-- /Alerts -->  
  </div>
</div>