<% if user_signed_in? && current_user.admin? %>
<div>
<%= link_to 'New Activity', new_activity_path %>
</div>
<% end %>

<p>
<% @activity.each do |activity|  %>
	<div id="list_items">
		<%= link_to activity.attraction_name, activity  %>
	</div>

<%= link_to activity.attraction_name, activity  %>

	<% if user_signed_in? && current_user.admin? %>
		<%= link_to 'Edit', edit_activity_path(activity) %>
		<%= link_to 'Destroy', activity, method: :delete %>
	<% end %>
	
<% end %>
</p>

