

    <h2><%= @activity.name %></h2>

   <%= @activity.description %>
  
   
   <% @activity.places.each do |place| %>
    
      <div><%= link_to place.name, place %></div>
      <% end %>


<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to 'Edit', edit_region_path(@activity) %> |
  <%= link_to 'Destroy', @activity, method: :delete, data: {confirm: 'Are you sure?'} %></p>
<% end %>