<div class="container">
  <div class="form-custom"><%= form_for @region do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :climate %>
    <%= f.text_field :climate, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :place_ids, "Places:" %>
    <%# f.collection_check_boxes :place_ids, Place.all, :id, :name, class: "checkbox" %>
    <%= f.collection_check_boxes(:place_ids, Place.all, :id, :name) do |b| %>
     <span class="checkbox-gap">
     <%= b.label %>
     <%= b.check_box %>
     </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %> 
  </div>          
<% end %>
</div>
</div>