<%= form_for @place do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :country %>
		<%= f.text_field :country %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>	
	<div>
		<%= f.label :languages %>
		<%= f.text_field :languages %>
	</div>		
	<div>
		<%= f.label :timezone %>
		<%= f.time_zone_select :timezone %>
	</div>		
	<div>
		<%= f.label :region_id, 'Regions' %>
		<%= f.collection_select :region_id, Region.all, :id, :name %>
	</div>	
	<div>
		<%= f.submit %>
	</div>					
<% end %>