<div class="container">
	<div class="row">
		<div class="col-lg-6">
		<h1>Places & Destinations<span class="glyphicon glyphicon-map-marker" style="color:#1abc9c"></span></h1>
		</div>
		<% if user_signed_in? && current_user.admin? %>
		<div class="col-lg-4-offset button-fix">
		<%= link_to 'Add Place', new_place_path, class: "btn btn-success" %>
		</div>
		<% end %>
	</div>
			<hr>
	<div class="row">
		<% @places.each do |place| %>
		<div class="col-md-4 marketing places-index-img" >

			<%= link_to place_path(place) do %>
			<h2><%= place.name %></h2>
			<br>
			<%= image_tag place.url %>
			<% end %>

			<br>
			<div class="index-items">
				<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_place_path(place), class: "btn btn-info"  %>
				<%= link_to 'Destroy', place, method: :delete, class: "btn btn-danger" %>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>