	<h2><%= @place.name %></h2>
	<h4><%= @place.country %></h4>
	<h4><%= @place.languages %></h4>
	<%= @place.timezone %>
	<%= @place.description %>

	<% @photos.each do |photo| %>
		<%= image_tag(photo) %>
	<% end %>
	