
<div class="container">
	<div class="row show-heading">
		<h1><%= @place.name %></h1>
		<h4>Country: <%= @place.country %></h4>
		<h4>Main Language: <%= @place.languages %></h4>
		<p>Timezone: <%= @place.timezone %></p>
		<p><%= @place.description %></p>
	</div>
	<div class="social-media-fb">
		<div class="twitter">
			<%= twitter_button %>
		</div>
	</div>
	
	<div class="social-media-fb">
		<div class="fb">
			<%= facebook_button %>
		</div>
	</div>
	<hr class="social-media-hr">
	<div class="row">
		<div class="photo-wrapper">
			<div class="photos">
				<% @photos.each do |photo| %>
				<div class="img">
					<%= image_tag(photo) %>
					<div class="overlay">
						<%= link_to "+", root_path, class: "expand" %>
						<a class="close-overlay hidden">x</a>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row yelp_wrapper">
		<h2 class="marketing">Things to do in <%= @place.name %>!</h2>
		<hr>		
		<% @yelps.businesses.each do |biz| %> 
		<div class="col-md-4 marketing yelp_each">
			<%= image_tag biz.image_url, class: "yelp_icon" %> 
			<h4> <%= link_to biz.name, biz.url %> </h4>
			Five star rating: <%= image_tag biz.rating_img_url_small %>
		</div>
		<% end %>
	</div>

</div>

