<%= @places.each do |place| %>	
	<h3><%= place.name %></h3>
	<h4><%= place.country %></h4>
	<h4><%= place.languages %></h4>
	<%= place.timezone %>
	<%= place.description %>

<% end %>
	<h1><%= place.name %></h1>
	<% @photos.each do |photo| %>
		<%= image_tag(photo) %>
	<% end %>
	