<!DOCTYPE html>
<html>
<head>
  <title>Whyshouldigo.to</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand logo" do %>
        <%= image_tag "logo.png", width: "120" %>
        <% end %>
      </div>

      <div class="collapse navbar-collapse">

        <div id="log_in_area" class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <!-- Gravatar -->
          <%= image_tag current_user.gravatar_url, class: "img-circle gravatar" %>          
          <span class="gravatar-responsive" style="margin-right: 12px">
          Logged in as <strong><%= current_user.email %></strong>!
          </span>  
          <!-- /Gravatar -->
          <span>
          <%= link_to edit_user_registration_path, class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-edit"></span> Edit profile
          <% end %>  

          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %> 

          <%= link_to new_user_session_path, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-flash"></span> Login
          <% end %>  
</span>
          <% end %>
        </div> 

        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Places', places_path %></li>
          <li><%= link_to 'Regions', regions_path %></li>
          <li><%= link_to 'Itineraries', itineraries_path %></li>
          <li><%= link_to 'Activities', activities_path %></li>
          <li><%= link_to 'Attractions', attractions_path %></li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- /Navigation -->

  <%= yield %>

  <!-- Footer -->
  <footer class="container">
  <hr>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 wsig.to, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  <!-- /Footer -->
</body>
</html>
