<!DOCTYPE html>
<html>
<head>
  <title>Whyshouldigo.to</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand logo" do %>
          <%= image_tag "logo.png", width: "120" %>
        <% end %>
      </div>

      <div class="collapse navbar-collapse">

        <div id="log_in_area" class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %> |
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary"  %>
          <% end %>
        </div> 

        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Places', places_path %></li>
          <li><%= link_to 'Regions', regions_path %></li>
          <li><%= link_to 'Itineraries', itineraries_path %></li>
          <li><%= link_to 'Activities', activities_path %></li>
          <li><%= link_to 'Attractions', attractions_path %></li>
        </ul>
       
      </div>

  </div>
</nav>
<!-- /Navigation -->

<%= yield %>

</body>
</html>
