<!DOCTYPE html>
<html>
<head>
  <title>Whyshouldigo.to</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div id="log_in_area">
         <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path  %>
        <% end %>
      </div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <%= link_to "Whyshouldigo.to", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Places', places_path %></li>
      	<li><%= link_to 'Regions', regions_path %></li>
      	<li><%= link_to 'Itineraries', itineraries_path %></li>
      	<li><%= link_to 'Activities', activities_path %></li>
      	<li><%= link_to 'Attractions', attractions_path %></li>
      </ul>
    </div>

  </div>
</nav>

<%= yield %>

</body>
</html>
